@font-face {
  font-family: 'zzzFont';
  src: url('../../assets/fonts/Zzzfont-Regular.ttf');
}
html, body {
	font-family: 'zzzFont', 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
p {
	margin: 0;
}
.disabled {
  pointer-events: none;
  cursor: auto;
}
.hidden {
	visibility: hidden;
}
#headingWrapper {
	position: absolute;
	top: calc(20px + 8%);
	width: 280px;
	z-index: 1;
	padding: 0 10px 0 40px;
}

#headingWrapper #heading p {
	font-size: 24px;
	line-height: 120%;
	color: #000;
}
