.finalGreeting {
  position: absolute;
  display: block;
  top: -0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: saddlebrown;
  z-index: 1024;
  transform: translate3d(0, -100%, 0);
  min-height: 672px;
  background-position: 50%;
  &.on {
    animation: bounceInTopRes 0.8s 1 forwards;
  }
  &.off {
    animation: moveUpRes 0.25s 1 forwards;
  }
}

.finalGreeting.off {
  animation: moveUp 0.2s 1 forwards;
}

@keyframes moveUp
{
  0% {
    transform: translate3d(0, 0%, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes moveUpRes {
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes bounceInTopRes
{
  0% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -100%, 0);
  }
  60%, 100% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0%, 0);
  }
  80% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -20%, 0);
  }
}
.finalGreeting .finalGreeting__innerWrapper {
  position: absolute;
  cursor: pointer;
  top: calc(50% + 5vw);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.finalGreeting .finalGreeting_button_playagain {
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &:hover {
    filter: brightness(1.14);
  }
}
.finalGreeting a {

}


